body {background-color: #d6ecec; color: #ff0246}
link {color: #0f9efd}
h1 {color: #ff0246}
nav {background-color: white; color: #ff0246; 
    padding: 10px; margin-bottom: 30px;}
nav a {color: #0f9efd}
nav a:hover {background-color: white}
@media only screen and (max-width: 600px)
{
    nav a {display: block; width: 100%;}
}
@media only screen and (min-width: 600px)
{
   
}