body {background-color: #252244246; color: #181216235}
link {color: 255229237}
h1 {color: 25467101}
nav {background-color: #255189216; color: #226241236; 
    padding: 10px; margin-bottom: 30px}
nav a {color: #214255159}
nav a:hover {background-color: #092206238}
