body {background-color: #e7d7f5; color: #f03164}
link {color: #dbc3ee}
h1 {color: #f03164}
nav {background-color: white; color: #f03164; 
    padding: 10px; margin-bottom: 30px}
nav a {color: #c3eedd}
nav a:hover {background-color: white}
