body {background-color: white; color: #E94E77}
link {color: #dbc3ee}
h1 {color: #FF9E9D}
nav {background-color: #dbc3ee; color: #FF3D7F; 
    padding: 10px; margin-bottom: 30px}
nav a {color: #c3eedd}
nav a:hover {background-color: white}
